/* This class should be implemented by most regular buttons */
.p-button {
    padding: var(--button-x-padding) var(--button-y-padding);
}

/* Different button styles */
.cta-button {
    background-color: var(--accent-color);
    color: white;
    padding: var(--button-y-padding) var(--button-x-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
}

.secondary-button {
    padding: var(--button-y-padding) var(--button-x-padding);
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: var(--button-border-radius);
}
